API_ID=1234abc
API_HASH=123abc456efg
PHONE_NUMBER=+91XXXXXXXXXX
LISTEN_TO_USERS=all
BACKEND_URL=https://render_url.com
APPS_SCRIPT_URL=https://app_script_url_from_google.com
GEMINI_API_KEY=abcdefgh12345678